section.certificates
  .container
    .certificates__top
      a.certificates__link(href="#") все сертификаты
      .certificates__arrows
        span.certificates__arrow.certificates__arrow_prev
          +arrow({next: false})
        span.certificates__arrow.certificates__arrow_next
          +arrow({})
    ul.certificates__list.js-certificates-slider
      li.certificates__item
        .certificates__slider-content
          a(href="./static/images/cert1.jpg")
            img.certificates__img(src="./static/images/cert1.jpg", alt="certificate")
            .certificates__desc
              p Свидетельство № 421545 на товарный знак (знак обслуживания) ЦТРО
      li.certificates__item
        .certificates__slider-content
          a(href="./static/images/cert2.jpg")
            img.certificates__img(src="./static/images/cert2.jpg", alt="certificate")
            .certificates__desc
              p Свидетельство № 422751 на товарный знак (знак обслуживания) ЦТОС 
      li.certificates__item
        .certificates__slider-content
          a(href="./static/images/cert3.jpg")
            img.certificates__img(src="./static/images/cert3.jpg", alt="certificate")
            .certificates__desc
              p Свидетельство № 442656 на товарный знак (знак обслуживания) ЦТРС
      li.certificates__item
        .certificates__slider-content
          a(href="./static/images/cert4.jpg")
            img.certificates__img(src="./static/images/cert4.jpg", alt="certificate")
            .certificates__desc
              p Свидетельство № 421545 на товарный знак (знак обслуживания) ЦТРО
      li.certificates__item
        .certificates__slider-content
          a(href="./static/images/cert4.jpg")
            img.certificates__img(src="./static/images/cert4.jpg", alt="certificate")
            .certificates__desc
              p Свидетельство № 421545 на товарный знак (знак обслуживания) ЦТРО
