section.system(style="background-image: url(./static/images/system-bg.jpg);")
  .container
    .system__content
      .system__tag
        +tag({text: 'Система нулевого выброса', href: '#'})
          
      .title.system__title
        h2 Экологическая политика ООО "Гранула" является одним из ключевых приоритетов деятельности компании
      ul.system__list
        li.text.system__text
            p ООО "Гранула", является резидентом Индустриального парка "GranPark", на базе которого ведет свою деятельность Центр экологических проблем асбеста АО «НИИпроектасбест». Сотрудниками центра совместно с экологами предприятия разработана и реализуется программа экологического мониторинга, включающая контроль воздуха на выходе из фильтров и на границе санитарно защитной зоны Индустриального парка.
        li.text.system__text
            p В настоящее время завершаются работы по переводу предприятия на более экологичный вид топлива - природный газ.
        li.text.system__text
            p Все виды деятельности имеют соответствующую разрешительную документацию со стороны Федеральных служб, ответственных за реализацию экологической политики РФ.
      .system__btn
        +button({text: 'Подробнее о экологической политике', theme: 'outline'})