section.smq
  .container
    .title.smq__title
      h2 Система менеджмента качества
    .text.d-xl-flex.smq__desc
      p С 2006 года в компании действует Корпоративная Система менеджмента качества, аккредитованная по станарту ISO 9001. Процессы входного контроля качества исходных компонентов, а также выходного контроля качества получаемой продукции регулируются утвержденным Регламентом организации работ отдела технического контроля. 
      p На весь перечень продукции разработаны Технические условия (ТУ), утвержденные заказчиками (отраслевыми проектными организациями и нефтесервисными компаниями). Продукция сертифицирована в системах ГОСТ Р, ТЭКСЕРТ, кроме того, имеются свидетельства на соответствие требованиям радиологической безопасности.