section.about
  .container
    .row
      .col-12.col-xl-5
        .about__picture
          span.about__decore.d-none.d-xl-block
      .col-12.col-xl-6.offset-xl-1
        .about__tag
          +tag({text: 'о компании', href: '#'})
        .title.about__title
          h2 Крупнейший производитель специальных цементов в РФ
        .text.about__text
          p ООО «Гранула» – начав с 2000 г. формирование рынка легких заполнителей, на сегодня является крупнейшим поставщиком специальных минеральных заполнителей и комплексных добавок – для предприятий добывающей промышленности, производителей огнестойких материалов, облегченных цементных систем. В проведении внедренческих мероприятий ООО «Гранула» использует российские технологии и успешный внедренческий и организационный зарубежный опыт и уникальные продукты.
        .about__btn
          +button({text: 'Подробнее о компании', theme: 'outline'})