extends ./layouts/main.pug

block content
  
  include ./sections/header/index.pug
  include ./sections/hero/index.pug
  include ./sections/about/index.pug
  include ./sections/advantages/index.pug
  include ./sections/products/index.pug
  include ./sections/video/index.pug
  include ./sections/geography/index.pug
  include ./sections/statistics/index.pug
  include ./sections/news/index.pug
  include ./sections/system/index.pug
  include ./sections/smq/index.pug
  include ./sections/certificates/index.pug
  
  script(src='./main.js')

