
section.advantages
  .container
    ul.advantages__list
      li.advantages__item
        .advantages__icon
          img.advantages__img(src="./static/images/icon1.svg", alt="statistics")
        h2.advantages__title с <span>2007</span> г.
        .text.advantages__desc
          p На рынке специальных тампонажных материалов
      li.advantages__item
        .advantages__icon
          img.advantages__img(src="./static/images/icon2.svg", alt="statistics")
        h2.advantages__title в год <span>200</span> тыс.
        .text.advantages__desc
          p производственные мощности по выпуску пордукции
      li.advantages__item
        .advantages__icon
          img.advantages__img(src="./static/images/icon3.svg", alt="statistics")
        h2.advantages__title более <span>45</span> марок
        .text.advantages__desc
          p выпускаемых тампонажных цементных смесей