include ../blocks/button/index.pug
include ../blocks/localization/index.pug
include ../blocks/search/index.pug
include ../blocks/arrow/index.pug
include ../blocks/social/index.pug
include ../blocks/burger/index.pug
include ../blocks/tag/index.pug
include ../blocks/play/index.pug
include ../blocks/close/index.pug