section.statistics
  .container
    .statistics__grafic
      .statistics__img.statistics__img_top
    .statistics__wrap
      .statistics__grafic
        .statistics__img.statistics__img_middle
      .statistics__grafic
        .statistics__img.statistics__img_bottom